.nav-search {
    position: relative;
}

.nav-search input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    height: 50px;
}

.nav-search input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.search-results-list {
    position: absolute;
    left: 0;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none; 
    
}

.nav-search input:valid + .search-results-list {
    display: block;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f7f7f7;
}

.search-result-item a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.search-result-item a:hover {
    color: #007bff;
    background-color: #f7f7f7;
}

.search-result-item a:focus {
    outline: 2px solid #007bff;
    background-color: #f7f7f7;
}

.search-result-item h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.search-result-item p {
    margin: 5px 0;
    color: #777;
}

@media (max-width: 768px) {
    .nav-search {
        max-width: 400px;
        padding: 10px;
    }

    .search-results {
        width: 100%;
        max-height: 150px;
    }

    .search-result-item {
        padding: 8px;
    }
}


.search-results-list {
    display: block;
    margin-top: 10px;
}

.search-result-item {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.no-results-message {
    color: #ff0000;
    font-style: italic;
    margin-top: 20px;
}
